.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeimg {
  width: 300px;
  height: 300px;
}

.header {

  padding: 30px 10%;

  text-align: center;

}

.headerimg {
  width: 150px;
}

.coursePageContainer {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  gap: 50px
}

.coursePageContainer h2 {
  color: white;
  font-weight: 400;


}

.coursePageContainer video {
  width: 100%;

}

.buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: 10%;


}

.buttons div {
  width: 300px;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  transition: 1s all;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  ;


}

.buttons div:nth-child(1) {

  text-align: left;
}

.buttons div:nth-child(1):hover {
  background-color: rgb(169, 0, 0);

}

.buttons div:nth-child(2) {

  text-align: right;
}

.buttons div:nth-child(2):hover {
  background-color: rgb(0, 91, 0);
}

.buttons div a {
  color: white
}

.footer {
  width: 80%;
  margin: auto;
  flex-direction: column;
  display: flex;
  gap: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 50px 0px;


}

.footer a {
  color: white;
  font-size: 12px;

}



.footer img { 
  width: 300px;

}

.iletisim_bilgileri{
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}