.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeimg {
  width: 300px;
  height: 300px;
}

.header {
  width: 100vw;
  height: 60px;
}

.headerimg {
  width: 50px;
}